* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1b1a33;
  margin: 0;
  margin-inline: 1.5rem;
  color: #f5f6f7;
}

.show-all-pokemon {
  position: relative;
}
a{
  position: absolute;
  right: 0;
  top: -30px;
  
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease ,color 0.3s ease;
  
}
a:hover {
  transform: scale(1.1);
  color: yellow;
}
main {
  max-width: 450px;
  margin-inline: auto;
  margin-block: 50px;
}
main h1 {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
}
.container {
  background-color: #f5f6f7;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
}
.title-search-input-search-button-container {
  text-align: center;
  color: black;
  font-size: 20px;
}

#search-input {
  padding: 0.8rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  font-family: inherit;
}

#search-button {
  padding: 14px 0px;
  border-radius: 20%;
  width: 80px;
  border: none;
  background-color: #7f21ab;
  color: #f5f6f7;
  text-align: center;
}

.pokemon-basic-details {
  color: black;
  background-color: #f1f1f6;
  margin-block: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  position: relative;
}
#pokemon-name {
  text-transform: uppercase;
}
img#sprite {
  width: 180px;
  margin-inline: auto;
}
#types{
  position: absolute;
  bottom: 20px;
}
#types .first-type {
  margin-right: 1rem;
  background-color: #ec98ed;
}
#types .second-type {
  background-color: rgb(255, 204, 50);
}
#types span {
  padding: 6px;
  border-radius: 8px;
  text-transform: uppercase;
}
.pokemon-stats-container > div {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.pokemon-stats-container > div:first-child {
  font-weight: 900;
}
.pokemon-stats-container > div div {
  background-color: #7f21ab;
  padding: 0.5rem 1rem;
  width: 50%;
  text-align: center;
}

@media (width<=500px) {
  main h1 {
    font-size: 1.5rem;
  }
  label {
    font-size: 14px;
  }

  #search-input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #search-button {
    padding: 10px 0px;
    border-radius: 2px;
  }
}
